@charset "utf-8";



img{
	width:200px;
	height:200pxx;
	margin:1px;
	border-radius: 8px;
	box-shadow:   0px 0px 4px 4px #ECE6E6 ;
	transition:all 2s;
	animation-direction:alternate
}
img:hover{
	transform:scale(2.5);
	opacity: 1;
}
 